
/node_modules
/backend/config/config.env

/ecommers-client/node_modules
/ecommers-client/.pnp
/ecommers-client/.pnp.js

/ecommers-client/coverage

/ecommers-client/build


/ecommers-client/.DS_Store
/ecommers-client/.env.local
/ecommers-client/.env.development.local
/ecommers-client/.env.test.local
/ecommers-client/.env.production.local



